:root { 
--indigo_100_01:#c5c8f9; 
--gray_900_02:#2d1717; 
--indigo_100_02:#bebdff; 
--gray_900_03:#01092d; 
--blue_gray_400:#8a89ac; 
--indigo_50:#eae9ff; 
--gray_900:#03024c; 
--gray_900_01:#131339; 
--black_900_3f:#0000003f; 
--gray_50:#f6f6ff; 
--indigo_100:#cdcff9; 
--indigo_200:#a1a0d5; 
--black_900:#000000; 
--indigo_900:#01004f; 
--white_A700:#ffffff; 
--black_900_26:#00000026; 
}