
 @font-face { font-display: swap; font-style : normal; src: url("assets/fonts/PlayfairDisplayRomanSemiBold.ttf"); font-family : "Playfair Display"; font-weight : 600;  }
 @font-face { font-display: swap; font-style : normal; src: url("assets/fonts/PlayfairDisplayRomanRegular.ttf"); font-family : "Playfair Display"; font-weight : 400;  }